<md-toolbar color="primary">
  <div class="md-toolbar-tools">
    <span>{{title}}</span>
    <span flex></span>
    <button md-button [md-menu-trigger-for]="appMenu">
      <md-icon>menu</md-icon>
    </button>
  </div>
</md-toolbar>
<span *ngIf="fieldsIsEmpty()">No field was created for vehicle's traffic! Go create one =)</span>
<span *ngIf="!fieldsIsEmpty()">To add a new vehicle to the current (selected) field, click any part of the field.</span>
<md-tab-group>
  <md-tab *ngFor="let field of fields"  (click)="setCurrentField(field)" dynamicHeight="true" dynamicWidth="true">
    <ng-template md-tab-label>{{field.name}}</ng-template>
      <canvas-tab [field]="field"></canvas-tab>
  </md-tab>
</md-tab-group>

<md-menu #appMenu="mdMenu">
  <button md-menu-item (click)="createNewField()">Add a Field</button>
</md-menu>
